body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #e0e0e0;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #bb86fc;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #bbbbbb;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #333;
    color: #e0e0e0;
}

button {
    padding: 10px 20px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #9f6cdc;
}

#resultContainer {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 300px;
    margin-top: 20px;
}

#result {
    font-size: 1.2em;
    color: #e0e0e0;
}

#loading {
    font-size: 1.2em;
    color: #bb86fc;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #bbbbbb;
}
/* Untuk mengubah warna tautan di footer */
footer a {
    color: #007bff; /* Misalnya, warna biru */
    text-decoration: none; /* Hilangkan underline */
}

/* Efek hover pada tautan */
footer a:hover {
    color: #0056b3; /* Warna biru yang lebih gelap saat tautan dihover */
}
